<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

</body>
<script type="text/jsx">
    // Define a class
    var Badge = React.createClass({
        render: function() {
            return (
                <button className="btn btn-primary" type="button">
                    {this.props.title} <span className="badge">{this.props.number}</span>
                </button>
            )
        }
    });

    var options = {
        title: 'Drafts',
        number: 32
    }

    // Render the class
    var element = React.createElement(Badge, options);

    // Place the class in the body tag
    React.render(element, document.body);
</script>