<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
</head>
<body>

</body>
<script type="text/jsx">
    // Define a class
    var HelloWorld = React.createClass({
        render: function() {
            return <div>
                Yolo!
            </div>
        }
    });

    // Render the class
    var element = React.createElement(HelloWorld);

    // Place the class in the body tag
    React.render(element, document.body);
</script>

