<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .btn .caret {
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="target"></div>
    </div>
</div>
<script src="main.js"></script>
</body>
<script type="text/jsx">

</script>