<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5 target">

        </div>
    </div>
</div>

</body>
<script type="text/jsx">
    // Define a class
    var Badge = React.createClass({
        render: function() {
            return (
                <button className="btn btn-primary" type="button">
                    {this.props.title} <span className="badge">{this.props.number}</span>
                </button>
            )
        }
    });

    var Thumbnail = React.createClass({
        render: function() {
            return <div className="thumbnail">
                <img src={this.props.imageUrl}/>
                    <div className="caption">
                        <h3>{this.props.header}</h3>
                        <p>{this.props.description}</p>
                        <p>
                            <Badge title={this.props.title} number={this.props.number} />
                        </p>
                    </div>
            </div>
        }
    });

    var options = {
        title: 'View Course',
        number: 12,
        imageUrl: 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/React.js_logo.svg/10' +
        '00px-React.js_logo.svg.png',
        header: 'React JS',
        description: 'A JAVASCRIPT LIBRARY FOR BUILDING USER INTERFACES'

    }

    // Render the class
    var element = React.createElement(Thumbnail, options);

    // Place the class in the body tag
    React.render(element, document.querySelector('.target'));
</script>