<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="target"></div>
    </div>
</div>

</body>
<script type="text/jsx">
    // Define a class
    var Badge = React.createClass({
        render: function() {
            return (
                <button className="btn btn-primary" type="button">
                    {this.props.title} <span className="badge">{this.props.number}</span>
                </button>
            )
        }
    });

    var Thumbnail = React.createClass({
        render: function() {
            return <div className="col-sm-6 col-md-4">
                <div className="thumbnail">
                    <img src={this.props.imageUrl}/>
                        <div className="caption">
                            <h3>{this.props.header}</h3>
                            <p>{this.props.description}</p>
                            <p>
                                <Badge title={this.props.title} number={this.props.number} />
                            </p>
                        </div>
                </div>
            </div>
        }
    });

    var ThumbnailList = React.createClass({
        render: function() {
            var list = this.props.thumbnailData.map(function(thumbnailProps) {
                return <Thumbnail {...thumbnailProps} />
            });

            return <div>
                {list}
            </div>
        }
    });

    var options = {
        thumbnailData: [{
            title: 'View Course',
            number: 24,
            imageUrl: 'https://s3.amazonaws.com/media-p.slid.es/uploads/hugojosefson/images/86267/angularjs-logo.png',
            header: 'Angular JS',
            description: 'A SUPERHEROIC JAVASCRIPT MVW FRAMEWORK'

        },
        {
            title: 'View Course',
            number: 7,
            imageUrl: 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/React.js_logo.svg/10' +
            '00px-React.js_logo.svg.png',
            header: 'Gulp JS',
            description: 'A TOOL TO SPEED UP YOUR DEVELOPMENT WORKFLOW'

        },
        {
            title: 'View Course',
            number: 12,
            imageUrl: 'https://avatars0.githubusercontent.com/u/6200624?v=3&s=400',
            header: 'React JS',
            description: 'A JAVASCRIPT LIBRARY FOR BUILDING USER INTERFACES'

        }]
    };

    // Render the class
    var element = React.createElement(ThumbnailList, options);

    // Place the class in the body tag
    React.render(element, document.querySelector('.target'));
</script>